@charset "utf-8";

/*
Theme Name: SMA 2013 COMIC
Author: manga-audition.com
Version: 1.0
Template: twentytwelve
*/

/* styles
============================================================== */

@font-face {
  font-family: "Uni Sans Book";
  src: url(fonts/Uni-Sans-Book.otf) format(truetype);
}

@font-face {
  font-family: "Uni Sans Bold";
  src: url(fonts/Uni-Sans-Bold.otf) format(truetype);
}

@font-face {
  font-family: "Uni Sans SemiBold";
  src: url(fonts/Uni-Sans-Semi-Bold.otf) format(truetype);
}


.site-content {
  float: right;
  width: 635px;
  padding-right: 25px;
  padding-left: 0;
}

.widget-area {
  float: left;
  width: 240px;
  padding-right: 0;
  padding-left: 25px;
}

body {
  font-family: "Uni Sans Book";
  background:url(http://www.manga-audition.com/st/img/bg_w.jpg) 0 0 repeat;
}

.entry-content code,
.comment-content code {
  font-family: "Uni Sans Book";
}

.entry-content pre,
.comment-content pre {
  font-family: "Uni Sans Book";
}

a,
a:hover,
a:visited {
  color: #000;
  text-decoration: none;
}

.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 0 0;
     -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#masthead {
  padding-top: 3px;
  padding-bottom: 9px;
  margin-top: 20px;
  background-color: #000;
}

#masthead h1 a,
#masthead .site-header h2 a {
  font-family: "Uni Sans Book";
  color: #fff;
}

#masthead h1 a {
  font-size: 34px;
}

#masthead hgroup,
#masthead .main-navigation {
  margin-right: 40px;
  margin-left: 40px;
}

#masthead .main-navigation {
  margin-top: 6px;
}

#masthead .main-navigation ul {
  border: 0;
}

#masthead .main-navigation ul li {
  padding-left: 20px;
  margin-right: 20px;
  border-left: 1px solid #fff;
}

#masthead .main-navigation ul li a {
  font-family: "Uni Sans Book";
  font-size: 15px;
  line-height: 1.6em;
  color: #FFF;
}

#masthead .main-navigation ul li:first-child {
  padding-left: 0;
  border: none;
}

.entry-header .entry-title {
  font-family: "Uni Sans Book";
  font-size: 34px;
}

.entry-header {
  margin-bottom: 8px;
}

.entry-header img.wp-post-image {
  margin-bottom: 9px;
}

.entry-content {
  font-family: "Uni Sans Book";
  font-size: 16px;
  line-height: 1.4em;
}

.entry-content p {
  line-height: 1.4em;
}

.entry-meta-top {
  position: relative;
  padding: 9px 11px 7px 11px;
  color: #FFF;
  background-color: #000;
}

.entry-meta-top a {
  color: #FFF;
  text-decoration: none;
}

.entry-meta-top .category-list {
  position: absolute;
  right: 20px;
  bottom: -1px;
  display: block;
  padding: 14px 11px 11px 11px;
  font-family: "Uni Sans Book";
  letter-spacing: 0.08em;
  background-color: red;
}

.entry-meta-top .arrow-up {
  position: absolute;
  top: 0;
  right: -8px;
  display: block;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid gray;
}

#s {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#searchsubmit {
  visibility: hidden;
}

#npcatch li {
  display: inline;
}

#npcatch .title {
  visibility: hidden;
}

#sma2013comic_content-2 a {
  margin-right: 2px;
}

.site-content article {
  margin-bottom: 30px;
  border-bottom: 0;
}

footer[role="contentinfo"] {
  border-top: 0;
}

footer[role="contentinfo"] .site-info {
  font-family: "Uni Sans Book";
  text-align: center;
}

.widget_categories li {
  font-family: "Uni Sans Book";
}

.widget-area .widget {
  margin-bottom: 30px;
}

.widget-area .widget a,
.widget-area .widget a:hover,
.widget-area .widget a:visited {
  color: #000;
  text-decoration: none;
}

.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.widget-area .widget h3 {
  margin-bottom: 3px;
}

.site-header {
  position: relative;
}

.site-header .fb-like {
  position: absolute;
  right: 20px;
  bottom: 11px;
}

.site-header h1 a,
.site-header h2 {
  color: #CCCCCC;
}

body.home #map-container,
body.page-template-page-templatesmap-europe-php #map-container {
  margin-top: 0;
}

body.home #map,
body.page-template-page-templatesmap-europe-php #map {
  width: 960px;
  height: 480px;
}

body.home #queries,
body.page-template-page-templatesmap-europe-php #queries {
  width: 400px;
}

body.single-entries {
  color: #fff;
  /*background-color: #222;*/
}

/*body.single-entries .site {
  background-color: #222;
}*/

body.single-entries .site-content {
  width: 910px;
}

body.single-entries .entry-meta {
  margin-top: 15px;
  margin-bottom: 11px;
}

body.single-entries .entry-meta li {
  margin: 6px 7px 6px 12px;
}

body.single-entries .entry-content .comic-images {
  text-align: center;
}

body.single-entries .entry-content hr {
  margin: 40px;
}

#cboxWrapper {
  background-color: #000;
}

#cboxWrapper #cboxLoadedContent {
  background-color: #808080;
}

#cboxWrapper #cboxLoadedContent .entry-content {
  color: #fff;
}

#cboxWrapper #cboxLoadedContent .entry-content .comic-images {
  text-align: center;
}

#cboxWrapper #cboxLoadedContent .entry-content hr {
  margin: 40px;
}

#cboxWrapper #cboxContent {
  background-color: #808080;
}

body.home #content,
body.page-template-page-templatesmap-europe-php #content {
  *zoom: 1;
}

body.home #content:before,
body.page-template-page-templatesmap-europe-php #content:before,
body.home #content:after,
body.page-template-page-templatesmap-europe-php #content:after {
  display: table;
  line-height: 0;
  content: "";
}

body.home #content:after,
body.page-template-page-templatesmap-europe-php #content:after {
  clear: both;
}

body.home .tn-entry,
body.page-template-page-templatesmap-europe-php .tn-entry {
  position: relative;
  float: left;
  width: 130px;
  height: 260px;
  margin-right: 14px;
  margin-bottom: 5px;
}

body.home .tn-entry .tn-wrap,
body.page-template-page-templatesmap-europe-php .tn-entry .tn-wrap {
  padding: 5px;
  border: 2px dotted #ccc;
}

body.home .tn-entry .tn-wrap img,
body.page-template-page-templatesmap-europe-php .tn-entry .tn-wrap img {
  max-width: 100%;
}

body.home .tn-entry .tn-title,
body.page-template-page-templatesmap-europe-php .tn-entry .tn-title {
  margin: 6px;
  font-weight: bold;
}

body.home .tn-entry .tn-author,
body.page-template-page-templatesmap-europe-php .tn-entry .tn-author {
  margin: 6px;
  font-size: 12px;
}

body.home .tn-entry .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry .tn-country {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

body.home .tn-entry.asia .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.asia .tn-country {
  background-color: #ff0000;
}

body.home .tn-entry.africa .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.africa .tn-country {
  background-color: #0000ff;
}

body.home .tn-entry.europe .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.europe .tn-country {
  background-color: #fbb03b;
}

body.home .tn-entry.middle-east .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.middle-east .tn-country {
  background-color: #8cc63f;
}

body.home .tn-entry.north-america .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.north-america .tn-country {
  background-color: #00a99d;
}

body.home .tn-entry.south-america .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.south-america .tn-country {
  background-color: #93278f;
}

body.home .tn-entry.oceania .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.oceania .tn-country {
  background-color: #534741;
}

body.home .tn-entry.orphaned .tn-country,
body.page-template-page-templatesmap-europe-php .tn-entry.orphaned .tn-country {
  text-shadow: -1px 1px 3px #000000, 1px -1px 3px #000000;
}

body.home #map-message,
body.page-template-page-templatesmap-europe-php #map-message {
  width: 960px;
  height: 52px;
  overflow: hidden;
  *zoom: 1;
  maigin-bottom: -20px;
}

body.home #map-message:before,
body.page-template-page-templatesmap-europe-php #map-message:before,
body.home #map-message:after,
body.page-template-page-templatesmap-europe-php #map-message:after {
  display: table;
  line-height: 0;
  content: "";
}

body.home #map-message:after,
body.page-template-page-templatesmap-europe-php #map-message:after {
  clear: both;
}

body.home #map-message #map-message-left,
body.page-template-page-templatesmap-europe-php #map-message #map-message-left {
  float: left;
  width: 500px;
  padding-left: 25px;
  font-family: "Uni Sans Book";
  font-size: 28px;
  line-height: 49px;
}

body.home #map-message #map-message-right,
body.page-template-page-templatesmap-europe-php #map-message #map-message-right {
  float: right;
  width: 390px;
  padding-top: 4px;
  padding-right: 25px;
  text-align: center;
}

body.home #map-message #map-message-right span,
body.page-template-page-templatesmap-europe-php #map-message #map-message-right span {
  padding: 1px 20px 1px 20px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
}

body.home #Pagination,
body.page-template-page-templatesmap-europe-php #Pagination {
  margin-top: 26px;
  margin-right: 120px;
  text-align: center;
}

body.home #Pagination .pagination,
body.page-template-page-templatesmap-europe-php #Pagination .pagination {
  display: inline-block;
  font-size: 14px;
}

body.home #Pagination .pagination a,
body.page-template-page-templatesmap-europe-php #Pagination .pagination a {
  color: #000;
  text-decoration: none;
  border: solid 1px #777;
}

body.home #Pagination .pagination a,
body.page-template-page-templatesmap-europe-php #Pagination .pagination a,
body.home #Pagination .pagination span,
body.page-template-page-templatesmap-europe-php #Pagination .pagination span {
  display: block;
  float: left;
  min-width: 1em;
  padding: 0.3em 0.5em;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}

body.home #Pagination .pagination .current,
body.page-template-page-templatesmap-europe-php #Pagination .pagination .current {
  color: #fff;
  background: #000;
  border: solid 1px #777;
}

body.home #Pagination .pagination .current.prev,
body.page-template-page-templatesmap-europe-php #Pagination .pagination .current.prev,
body.home #Pagination .pagination .current.next,
body.page-template-page-templatesmap-europe-php #Pagination .pagination .current.next {
  color: #000;
  background: #fff;
  border-color: #777;
}

body.home #marker-filter li,
body.page-template-page-templatesmap-europe-php #marker-filter li {
  position: relative;
  padding-left: 12px;
}

body.home #marker-filter li .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li .circle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

body.home #marker-filter li.asia .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.asia .circle {
  background-color: #ff0000;
}

body.home #marker-filter li.africa .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.africa .circle {
  background-color: #0000ff;
}

body.home #marker-filter li.europe .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.europe .circle {
  background-color: #fbb03b;
}

body.home #marker-filter li.middle-east .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.middle-east .circle {
  background-color: #8cc63f;
}

body.home #marker-filter li.north-america .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.north-america .circle {
  background-color: #00a99d;
}

body.home #marker-filter li.south-america .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.south-america .circle {
  background-color: #93278f;
}

body.home #marker-filter li.oceania .circle,
body.page-template-page-templatesmap-europe-php #marker-filter li.oceania .circle {
  background-color: #534741;
}

body.page-template-page-templatesfull-width-users-php .site-content,
body.page-template-page-templatesfull-width-users-outside-php .site-content,
body.page-template-page-templatesfull-width-users-new-entry-php .site-content,
body.page-template-page-templatesfull-width-search-form-php .site-content {
  width: 910px;
}

.form-table .regular-text,
.form-table textarea,
.form-table select {
  width: 400px;
}

body.single-users .entry-header {
  margin-bottom: 20px;
}

body.single-users .entry-status-title {
  margin-bottom: 10px;
}

body.single-users .entry-status-box {
  padding: 14px 3px;
  border: solid 5px #ccc;
}

body.single-users .site-content article {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

body.single-users .comments-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

body.single-users .comments-area article {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body.single-users .comments-area article header {
  margin-bottom: 10px;
}

body.single-users .comments-area article header cite,
body.single-users .comments-area article header time {
  margin-left: 60px;
}

body.single-users .comment-awaiting-moderation {
  color: #5E5E5E;
}

body.single-users .comment-content p {
  margin-bottom: 10px;
}

body.single-users #respond {
  margin-top: 20px;
}

body.single-users #respond form {
  margin-top: 10px;
}

body.single-users #respond form p.logged-in-as {
  display: none;
  margin-bottom: 10px;
}

body.single-users #respond .form-allowed-tags {
  display: none;
}

body.page-template-page-templatesfull-width-users-new-entry-php button,
body.page-template-page-templatesfull-width-users-new-entry-php input,
body.page-template-page-templatesfull-width-users-new-entry-php textarea,
body.page-template-page-templatesfull-width-users-new-entry-php select {
  font-size: 14px;
}

body.page-template-page-templatesfull-width-users-new-entry-php #entry-class-block button {
  font-size: 16px;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader-block {
  display: none;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader {
  margin-top: 8px;
  margin-bottom: 34px;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_container {
  padding: 0;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_header {
  display: none;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_filelist_header {
  border-top: 0;
  border-bottom: 0;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_scroll .plupload_filelist {
  overflow-y: auto;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_filelist_footer {
  border-top: 0;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_filelist li {
  background: none repeat-x scroll 0 -156px #f5f5f5;
}

body.page-template-page-templatesfull-width-users-new-entry-php #uploader .plupload_start {
  display: none;
}

body.page-template-page-templatesfull-width-users-new-entry-php #details {
  display: none;
}

#theme-my-login button,
#theme-my-login input,
#theme-my-login textarea {
  font-size: 14px;
}

#theme-my-login label[for=where_did_you_hear_about_us] {
  text-transform: none;
}



/*#main.wrapper {
background:
linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
background-color:#e1ebbd;
background-size: 128px 128px;
}*/

#main.wrapper {
margin: 0;
padding: 10px 20px;
background-color: #f5f1ee;
background-image: -webkit-linear-gradient(-45deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
background-image: linear-gradient(-45deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
background-size: 5px 5px;/*数字を大きくすれば太く、小さくすれば細くなります。*/
text-shadow:1px 1px 2px rgba(0,0,0,.3);
}


.entry-meta {
  font-family: "Uni Sans SemiBold";
	background: #01A9DB;
}
